#P1 {
  width: 100%;
  height: 40vh;
  background-color: #2d4199;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0;
  z-index: 1200;
  position: absolute;
  top: 0;
}

@keyframes LeftToRight {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0vw);
    border: none;
  }
}

@keyframes RightToLeft {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0vw);
  }
}



#P2 {
  background-color: #2d4199;
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 200;
  position: absolute;
  top: 40%;
}

#P3 {
  background-color: #2d4199;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  z-index: 200;
}

.LSP1,
.LSP2 {
  font-size: 4em;
  font-weight: 300;
  color: #fff;
  letter-spacing: 5px;
  user-select: none;
  margin: 30px 0;
}

.LSP1 {
  margin-right: 50px;
}

.LSP2 {
  margin-left: 50px;
}


.loader {
  height: 5px;
  width: 1px;
  position: absolute;
  animation: rotate0234 3.5s linear infinite;
}

.loader .dot {
  top: 30px;
  height: 7px;
  width: 7px;
  background: #af3838;
  border-radius: 50%;
  position: relative;
}

.text {
  position: absolute;
  bottom: -85px;
  font-size: 25px;
  font-weight: 400;
  color: #af3838;
}

@keyframes rotate0234 {
  30% {
    transform: rotate(220deg);
  }

  40% {
    transform: rotate(450deg);
    opacity: 1;
  }

  75% {
    transform: rotate(720deg);
    opacity: 1;
  }

  76% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: rotate(0deg);
  }
}

.loader:nth-child(1) {
  animation-delay: 0.15s;
}

.loader:nth-child(2) {
  animation-delay: 0.3s;
}

.loader:nth-child(3) {
  animation-delay: 0.45s;
}

.loader:nth-child(4) {
  animation-delay: 0.6s;
}

.loader:nth-child(5) {
  animation-delay: 0.75s;
}

.loader:nth-child(6) {
  animation-delay: 0.9s;
}




.progresoBar{
  background-color: #fff;
  width: 30vw;
  height: 1vh;
  position: absolute;
  margin:  0 auto;
  bottom: 30vh;
  border-radius: 25px;
  overflow: hidden;
}


.PBar{
  height: 100%;
  background-color: #af3838;
  position: absolute;
  left: 0;
  border-radius: 25px;
  transition: .3s;
}