* {
  font-family: "Cairo", sans-serif;
  line-height: 1em;
}

.App {
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  position: relative;
  background-color: #ed4747;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  
}

